/* ========== BASE STYLES ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', 'Orbitron', 'Roboto', sans-serif;
  overflow-x: hidden;
}


.game-container::-webkit-scrollbar {
  width: 10px;
}

.game-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

.game-container::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--neon-blue), var(--neon-purple));
  border-radius: 5px;
  box-shadow: 0 0 10px var(--neon-blue);
}

.game-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, var(--neon-pink), var(--neon-blue));
  box-shadow: 0 0 15px var(--neon-pink);
}


.card-body::-webkit-scrollbar {
  width: 10px;
}

.card-body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

.card-body::-webkit-scrollbar-thumb {
  background: var(--menu-text);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--menu-text);
}

.card-body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, var(--menu-text));
  box-shadow: 0 0 15px var(--menu-text);
}

.player-info::-webkit-scrollbar  {
  width: 5px
}

