/* ========== VARIABLES CSS ========== */

:root {
  --neon-pink: #ff006e;
  --neon-blue: #00d9ff;
  --neon-purple: #8338ec;
  --dark-bg: #0a0e27;
  --neon-green: #12c946;
  --menu-text: #a8c5dd;
  --menu-hover: #ffffff;
  --orange: #eda217;
  --red: #d10505;
}
